<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>PO</th>
      <th>SO</th>
      <th>Name</th>
      <th>Item</th>
      <th>Item Description</th>
      <th>Order Qty</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of orderList">
      <td>{{ list.date }}</td>
      <td>{{ list.po }}</td>
      <td>{{ list.so }}</td>
      <td>{{ list.name }}</td>
      <td>{{ list.item }}</td>
      <td>{{ list.itemdesc }}</td>
      <td>{{ list.qty }}</td>
      <td>{{ list.comment }}</td>
    </tr>
  </tbody>
</table>
