<form [formGroup]="dateComment" (ngSubmit)="updateData(dateComment.value)">
    <mat-dialog-content>
        <h3 *ngIf="orderListInfo.length == 1" mat-dialog-title>Edit/Add Infos for SO# {{orderListInfo[0].so}}</h3>
        <h3 *ngIf="orderListInfo.length > 1" mat-dialog-title>Edit/Add Infos</h3>
        <button (click)="moveToDelivery()" style="margin:0.5rem" [mat-dialog-close] mat-dialog-header mat-stroked-button color="primary">Ready to Ship</button>
        <mat-form-field appearance="outline">
            <mat-label>Date Needed</mat-label>
            <input formControlName="deliverydate" [min]='minDate' matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker color="accent"></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button [disabled]="dateComment.invalid" color="primary">Save</button>
        <button mat-stroked-button [mat-dialog-close] color="warn">Cancel</button>
    </mat-dialog-actions>
</form>
