mat-table{
    min-width: 600px;
    .ids{
        max-width: 40px;
        min-width: 40px;
    }
    .cb{
        max-width: 50px;
        min-width: 50px;
    }
    .po{
        max-width: 50px;
        min-width: 50px;
    }
    .so{
        max-width: 50px;
        min-width: 50px;
    }
}