@media screen and (max-width: 586px) {
    mat-table {
        min-width: 1000px;
    }
}

.mat-form-field-appearance-outline {
    width: 100%;
}

.so {
    max-width: 50px;
}

.po {
    max-width: 100px;
    min-width: 100px;
}


.items {
    min-width: 300px;
    max-width: 300px;
}