form{
    .mat-form-field-appearance-outline{
        margin: 0.3rem;
    }
    mat-checkbox{
        margin: 1rem;
    }

}
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
@media screen and (max-width: 586px) {
    .mat-form-field-appearance-outline{
        margin: 0.3rem;
        width: 100%;
    }
}