.mat-form-field-appearance-outline {
    width: 100%;
}

.mat-form-field-appearance-standard {
    width: 25%;
}

#tables {
    width: 30rem;
}

@media screen and (max-width: 586px) {
    #tables {
        min-width: 800px;
    }
}